<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.1/phpunit.xsd"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 colors="true"
		 verbose="true"
>
    <testsuite>
        <directory prefix="test-" suffix=".php">./tests</directory>
    </testsuite>

    <logging>
        <log type="coverage-clover" target="clover.xml"/>
        <log type="coverage-html" target="./report" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>
